<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card-group">
                        <div class="card d-flex justify-content-center align-items-center py-3">
                            <img src="../../../assets/img/brand/logo-credyty.svg" alt="" style="min-width: 80%;">
                        </div>
                        <div class="card text-white bg-success p-4">
                            <div class="card-body text-center">
                                <form>
                                    <h1>AdminU Credyty</h1>
                                    <p class="text-muted">Portal de administración para aliados de Credyty</p>
                                    <form action="" method="post">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div>
                                                <select id="select1" name="select1" class="form-control">
                                                    <option value="1">Administrador</option>
                                                    <option value="2">Agente</option>
                                                    <option value="3">Ejecutivo</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                                                </div>
                                                <input type="text" id="username" name="username" class="form-control" placeholder="Documento de identidad" autocomplete="username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                                                </div>
                                                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" autocomplete="current-password">
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-6 mx-auto">
                                            <button type="button" class="btn btn-pill btn-block btn-dark px-4" routerLink="/dashboard"><i class="fa fa-sign-in"></i>&nbsp;Ingresar</button>
                                        </div>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-link text-white px-0">Solicitar activación</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" class="btn btn-link text-white px-0">Recuperar contraseña</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>