<div class="animated fadeIn">
    <div class="card p-3">
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group row">
                            <label for="date-input">Periodo:</label>
                            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="nf-line">Línea de financiación</label>
                            <select id="nf-line" name="nf-line" class="form-control">
                                <option value="0">Todos</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center">
                        <button type="submit" class="btn btn-pill btn-block btn-success"><i class="fa fa-dot-circle-o"></i> Exportar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <!--/.col-->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Lorem ipsum
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Programa académico</th>
                                <th>Cantidad de solicitudes*</th>
                                <th>Cantidad solicitudes legalizadas</th>
                                <th>Monto legalizado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Programa 1</td>
                                <td>1500</td>
                                <td>1000</td>
                                <td>$ 300.000.000</td>
                            </tr>
                            <tr>
                                <td>Programa 2</td>
                                <td>500</td>
                                <td>400</td>
                                <td>$ 180.000.000</td>
                            </tr>
                            <tr>
                                <td>Programa 3</td>
                                <td>1000</td>
                                <td>800</td>
                                <td>$ 250.000.000</td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td>3000</td>
                                <td>2200</td>
                                <td>$ 730.000.000</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Lorem ipsum
                </div>
                <div class="card-body">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Cantidad de solicitudes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Estado 1</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>Estado 2</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>Estado 3</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td>3000</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

    <!--/.row-->
</div>