<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
          </button>
                    <div class="text-value">9.823</div>
                    <div>Solicitudes</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
      </button>
                    <div class="text-value">9.823</div>
                    <div>Finalizadas</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
  </button>
                    <div class="text-value">9.823</div>
                    <div>% Abandono</div>
                </div>

            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-secondary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>Únicas</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-success">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>Únicas Finalizadas</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>Aprobadas</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>Rechazadas</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>% Aprobación</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>% Apr. Fracciona.</div>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-2">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
</button>
                    <div class="text-value">9.823</div>
                    <div>% Apr. Respalda</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Lorem ipsum</h4>
                    <div class="small text-muted">Date</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <!-- <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Día</label>
                        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Semana</label>
                        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Mes</label>
                    </div> -->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
            </div>
        </div>
    </div>
    <div class="card-columns cols-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Lorem ipsum</h4>
                        <div class="small text-muted">Date</div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Lorem ipsum</h4>
                        <div class="small text-muted">Date</div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!--/.card-->

</div>